@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-800
    }

    form label {
        @apply text-sm font-medium text-white
    }
}

@layer components {
    .card {
        @apply p-4 bg-gray-700 shadow-[0px_0px_0px_1px_inset] shadow-gray-400/10 rounded-lg
    }

    .btn {
        @apply flex items-center justify-center px-9 py-3 rounded-[4px] bg-blue-600 shadow-[0_0_0_1px_inset] shadow-blue-500 transition-all cursor-default
        font-medium text-base text-white
        outline-blue-500/25 outline-0
        focus:outline-4
        hover:brightness-105
        active:brightness-95
        data-[loading=true]:opacity-60
    }

    .text-input {
        @apply px-4 py-3 rounded-lg bg-white/5 shadow-[0_0_0_1px_inset] shadow-white/15 w-full transition-all leading-tight
        placeholder:text-gray-350 text-white
        outline-0 outline-theme-primary/25
        focus:outline-4 focus:outline-theme-primary/25
        hover:bg-white/10
        data-[invalid=true]:shadow-red-200
    }

    .alert {
        @apply block font-normal text-sm text-blue-500 px-2.5 py-[5px] rounded-[4px] bg-blue-500/10
    }

    .alert.error {
        @apply text-red-200 bg-red-200/10
    }

    .alert.success {
        @apply text-green-500 bg-green-500/10
    }

    .page-title {
        @apply font-black text-xl text-white uppercase
    }

    /* SIDEBAR ///////////////////////////////// */

    .sidebar-separator {
        @apply px-6 py-2 bg-gray-1000 border-t border-b border-solid border-black text-white/50 text-sm
    }

    .sidebar-item {
        @apply relative px-4 py-3 flex flex-row gap-3 items-center w-full cursor-default
        hover:bg-white/5
        active:bg-white/10
        transition-all
    }
    
    .sidebar-item-arrow {
        @apply absolute right-4 top-1/2 -translate-y-1/2 w-[22px] h-[22px] flex items-center justify-center pointer-events-none
    }

    /* SIDEBAR ACCORDION /////////////////////// */

    .sidebar-accordion-wrapper {
        @apply overflow-hidden h-[var(--full-height)]
    }

    .sidebar-accordion-collapsing {
        @apply transition-all
    }

    .sidebar-accordion-wrapper.sidebar-accordion-collapsed,
    .sidebar-accordion-collapsed {
        height: 0;
        overflow: hidden;
    }
}

@layer utilities {
    .pixelated {
        image-rendering: pixelated;
    }
}